
      .btn:focus {
        border: none;
        box-shadow: none;
        outline: none;
        }
        
        .btn:hover,
        .btn:focus {
        transform: scale(1.05);
        }
        
        .btn-primary,
        .btn-primary:hover,
        .btn-primary:focus {
        background: var(--primary);
        color: var(--primary-invert);
        }
        
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
        background: var(--secondary);
        color: var(--secondary-invert);
        }
        
        .btn-sm {
        padding: .8rem;
        }
  
        /* Put your blocks here */  

.block-14 {
  background-image: linear-gradient(to bottom, var(--primary) 30%, transparent 0)
}

@media(min-width:992px) {
  .block-14 {
    background-image: linear-gradient(to bottom, var(--primary) 50%, transparent 0)
  }
}

.block-14__header {
  color: #fff;
  margin-bottom: 5.3rem
}

.block__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4
}

@media(min-width:992px) {
  .block__title {
    font-size: 2.5rem
  }
}

.block__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  opacity: .9
}

@media(min-width:768px) {
  .block-14__paragraph {
    width: 80%
  }
}

@media(min-width:992px) {
  .block-14__paragraph {
    width: 50%
  }
}

.plan-switch {
  font-size: 1.2rem;
  margin-top: 3.6rem
}

.plan-switch__type {
  font-size: .87rem;
  font-weight: 600;
  opacity: .9
}

.plan-switch__type--selected {
  color: var(--primary);
  opacity: 1
}

.plan-card {
  padding: 3.5rem 2rem;
  border: 2px solid var(--primary);
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%
}

.plan-card--recommended {
  padding-top: 5rem;
  position: relative;
  z-index: 1
}

@media(min-width:992px) {
  .plan-card--recommended {
    height: calc(100% + 50px);
    width: calc(100% + 25px);
    margin-left: -12.5px;
    margin-top: -25px;
    padding-bottom: calc(3.5rem + 25px)
  }
}

.plan-card__tag {
  font-size: .75rem;
  padding: .6rem .8rem;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  width: 40%;
  margin: auto;
  background: rgba(0, 0, 0, .15);
  color: var(--primary-invert);
  overflow: hidden
}

.plan-card__tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary);
  z-index: -1
}

.plan-card__name {
  font-size: 1.5rem;
  font-weight: 600
}

.plan-card__price {
  font-size: 4.3rem;
  font-weight: 600
}

.plan-card__duration {
  font-size: .87rem;
  font-weight: 600;
  text-transform: uppercase
}

.plan-features {
  text-align: initial;
  margin: auto
}

@media(min-width:1200px) {
  .plan-features {
    width: 70%
  }
}

.plan-features__li {
  display: flex;
  align-items: flex-start;
  font-size: .87rem;
  margin-bottom: 1.3rem
}

.plan-features__li--disabled .plan-features__li-text {
  text-decoration: line-through;
  opacity: .7
}

.plan-features__li--disabled .plan-features__icon {
  filter: grayscale(10)
}

.plan-features__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  width: 17px;
  height: 17px;
  background-color: rgba(51, 197, 141, .3);
  color: rgba(51, 197, 141, .7);
  border-radius: 10rem
}		

		